textarea {
  flex: 100%;
  background: transparent;
  border: none;
  border-bottom: solid 5px black;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-wrap: wrap;
}

#error-message {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  position: relative;
  color: red;
  text-align: center;
  border: 5px solid red;
  margin: 1em;
}

#buttonId {
    background-color: #143cbe;
    font-family: 'Bungee', sans-serif;
    color: white;
    outline: none;
  } 

#counter {
    font-family: 'Bungee', sans-serif;
    position: relative;
    text-align: right;
    float: right;
}